fitConnect:
  sender:
    clientId: senderClientId
    clientSecret: s3cr3t
  subscriber:
    clientId: subscriberClientId
    clientSecret: s3cr3t
    privateDecryptionKeyPath: classpath:decryption_key_dummy.json
    privateSigningKeyPath: classpath:signing_key_dummy.json
  activeEnvironment: TEST
  submission:
    destination: destinationId
    serviceType:
      urn: urn:de:fim:leika:leistung:99400048079000
      name: Simple Dummy Service
    jsonUri: https://schema.fitko.de/fim/s17000717_1.0.schema.json
  callbackSecret: s3cr3t
